@model Lab2.Models.TjugoEttModels
@using System.Web.UI.WebControls
@using Lab2.Controllers

@{
    ViewBag.Title = "TjugoEtt";
}

<h2>TjugoEtt</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ActualNumber)
    @Html.HiddenFor(m => m.CpuTurn)

    <p>
        1 @Html.RadioButtonFor(m => m.Increment, 1)

        2 @Html.RadioButtonFor(m => m.Increment, 2)
    </p>
    <input id="Button1" type="submit" value="Submit" />


    <p>Datorns höjning: @Html.DisplayTextFor(m => m.Increment)</p>
    <p>Total siffra: @Html.DisplayTextFor(m => m.ActualNumber)</p>
    <p>@Html.DisplayTextFor(m => m.GameOverText)</p>
}



